Library
ProjectSettings
CodeSnippet.csproj
CodeSnippet.Editor.csproj
CodeSnippet.sln
.vs
/.gitignore
/Unity/CodeSnippet/*.userprefs
/README.md.meta
/Unity.meta
/Unity/CodeSnippet.meta
/Unity/CodeSnippet/Assets.meta
Temp
